langchain
langchain-community
langchain-openai
langchain-groq
langchain-text-splitters
sentence-transformers
python-dotenv
faiss-cpu
chromadb
tiktoken
pandas
# helpers
pypdf
docx2txt
unstructured
docx
openpyxl
msoffcrypto